 *
{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
:root
{
    --clr: #222327;
    /* --clr: grey; */
}
body
{
    background: var(--clr);
}
.main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;                
    height: 360px;
    width: 350px;
}
.content_place
{
    height: 86vh;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.for_content
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92%;
    width: 60%;
    background-color: white;
    border-radius: 10px;
    margin-top: 25px;
    overflow: hidden;

}
.navbar
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 110px;
    width: 400px;
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0;
}
.nav_items
{
    position: relative;
    height: 70px;
    width: 400px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: default;
}
.nav_items ul
{
    display: flex;
    width: 350px;
}
.nav_items ul li
{
    position: relative;
    list-style: none;
    width: 70px;
    height: 54px;
    z-index: 1;
}
.nav_items ul li a
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
    padding-top: 15px;
}
.nav_items ul li a .icon
{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}
.nav_items ul li.active a .icon
{
    transform: translateY(-35px);
}
.nav_items ul li a .text
{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}
.nav_items ul li.active a .text
{
    opacity: 1;
    transform: translateY(10px);
}
.indicator
{
    position: absolute;
    top: -50%;
    left: 6.5%;
    width: 54px;
    height: 54px;
    /* ----------------------------------------------- Color change -----------------------------------------------  */
    background-color: rgb(255, 106, 0);
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
    /* transform: translateY(-4px) translateX(2px); */
}
.indicator::before
{
    content: '';
    position: absolute;
    top: 0;
    left: -22px;
    width: 20px;
    height: 20px;
    /* background-color: red; */
    border-top-right-radius: 30px;
    box-shadow: 0px -10px 0 0 var(--clr);
    transform: translateX(0px) translateY(26px);
}
.indicator::after
{
    content: '';
    position: absolute;
    top: 0;
    right: -22px;
    width: 20px;
    height: 20px;
    /* background-color: red; */
    border-top-left-radius: 30px;
    box-shadow: 0px -10px 0 0 var(--clr);
    transform: translateX(0px) translateY(26px);
}
.nav_items ul li:nth-child(1).active ~ .indicator
{
    transform: translateX(calc(70px * 0));
}
.nav_items ul li:nth-child(2).active ~ .indicator
{
    transform: translateX(calc(70px * 1));
}
.nav_items ul li:nth-child(3).active ~ .indicator
{
    transform: translateX(calc(70px * 2));
}
.nav_items ul li:nth-child(4).active ~ .indicator
{
    transform: translateX(calc(70px * 3));
}
.nav_items ul li:nth-child(5).active ~ .indicator
{
    transform: translateX(calc(70px * 4));
}
            /* .screen-size-tester
            {
                height: 100vh;
                width: 100vw;
                background-color: aqua;
                color: black;
                font-size: 30ch;
                display: none;
                align-items: center;
                justify-content: center;
            } */


#pre-loader
{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #fff url(https://media.tenor.com/1q6jBuNi1MUAAAAi/pokemon-pikachu.gif) no-repeat center center;
    z-index: 100;
    background-size: 5%;
}            