.og4
{
    height: 100%;
    width: 100%;
    background-color: yellow;
    display: none;
}
.og .settingsLayout .headText
{
    font-size: 10px;
    display: flex;
    justify-content: center;
    margin-top: clamp(1px, 1px + 100%, 10px);
}
.og .settingsLayout
{
    width: 100%;
    height: 95%;
    background-color: maroon;
}